[submodule "submodule-test-1"]
	path = submodule-test-1
	url = https://github.com/ChuckDog/submodule-test-1.git
[submodule "submodule-test-2"]
	path = submodule-test-2
	url = https://github.com/ChuckDog/submodule-test-2.git
[submodule "submodule-test-3"]
	path = submodule-test-3
	url = https://github.com/ChuckDog/submodule-test-3.git
